.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 7rem;
    background-color: #1F2B6C; 
    font-weight: 500;
     

}
.menuBtnsContainer{
    display: flex;
}

.menuBtnsContainer .button{
    margin-right: 10px;
    padding:5px;
   
}
.button:hover{
    background-color:#bfd2f8;
    color: #1F2B6C;
}

.logInOutBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BFD2F8;
    color: #1F2B6C;
    border-radius: 3.125rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    padding:10px 20px 10px 20px;
    
}