

.logo {
   padding: 1.18rem 0 1.18rem 7rem;
   background-color: #fff;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 1rem 7rem;
   background-color: #1F2B6C;

   font-weight: 500;
}

.menu {
   display: flex;
   gap: 1rem;
   color: #BFD2F8;
   
}

.menu button {
   gap: 2rem;
   margin-right:10px;
   margin-left:10px;
   
}

.buttonSignup {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #BFD2F8;
   color: #1F2B6C;
   border-radius: 3.125rem;
   padding: 0.5rem 1rem;


}

.buttonSignin {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #BFD2F8;
   color: #1F2B6C;
   border-radius: 3.125rem;
   padding: 0.5rem 2.8rem;
}

.doctor {
   display: flex;
   padding: 0 7rem;
   background-color: #d7d8dd;
}

.parcerias {
   display: flex;
   background-color: #fff;
   justify-content: center;
}

.parceria1 {
   display: flex;
   background-color: #bfd2f8;
   color: #1c2c6c;
   align-items: center;
   justify-content: center;
   border-radius: 1rem 0 0 1rem;
   padding: 4rem 8rem;

   font-family: Work Sans;
   font-size: 1.4rem;
   font-style: italic;
   font-weight: 500;
   line-height: 1.4rem;
}

.parceria2 {
   display: flex;
   background-color: #1f2b6c;
   color: #fff;
   align-items: center;
   justify-content: center;
   border-radius: 0 1rem 1rem 0;
   padding: 4rem 8rem;

   font-family: Work Sans;
   font-size: 1.4rem;
   font-style: italic;
   font-weight: 500;
   line-height: 1.4rem;
}

.azulClaro {
   display: flex;
   justify-content: center;
   background-color: #fff;
   color: #159EEC;
   padding-top: 5.7rem;
   text-transform: uppercase;

   font-family: Work Sans;
   font-size: 1.3rem;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 0.05rem;
   text-transform: uppercase;

}

.azulEscuro {
   display: flex;
   justify-content: center;
   background-color: #fff;
   color: #1c2c6c;
   padding-top: 0.5rem;

   font-family: Yeseva One;
   font-size: 2.5rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.pretaMiuda {
   display: flex;
   justify-content: center;
   background-color: #fff;
   color: #000;
   padding: 0.2rem 10rem 0rem 10rem;

   font-family: Work Sans;
   font-size: 1rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.4rem;
}

.centralizarTXT {
   justify-content: center;
}

.variosMedicos {
   display: flex;
   background-color: #fff;
   justify-content: center;
   padding-top: 2rem;
}

.areaServicos {
   justify-content: space-around; 
   align-items: center;
   width: 100%;
   background-color: #fff;
}

.TXTservicos{
   background-color: #fff;
   display: flex;
   color: #000;
   justify-content: center;
   align-items: center;
}

.exame {
   display: flex;
   background-color: #fff;
   padding: 2rem 11rem 1.3rem 50rem;
}

.femaleDoctors {
   display: flex;
   background-color: #fff;
   padding: 1rem 11rem 1.3rem 50rem;
}